{% extends 'starSocial/base.html' %}

{% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <h1>{{ group.name }}</h1>
        <p>{{ group.description }}</p>
        <h4>Number of Members: {{ group.members.count }}</h4>
        <button class="btn btn-primary">
            <a href="{% url 'posts:post-create' group_pk=group.pk %}">
                Create Post
            </a>
        </button>
    </div>


    {% if group.posts.all %}

    <div class="container">
        <ul class="list-group">
            {% for post in group.posts.all %}
                <li class="list-group-item">
                    <a href="{% url 'posts:post-detail' post_pk=post.pk %}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <h2>
            No Posts Yet
        </h2>
    {% endif %}
    

{% endblock %}